
/* General tables for the forum and ranks */

table{
margin-left: auto; 
margin-right: auto;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront coll�es (plus joli) */
	margin-top:40px;
	margin-bottom:30px;
}
th
{
	background-color:#565656;
	color:white;
}
td,th
{
    border: 1px solid black;
	height:30px;
	vertical-align:middle;
	text-align:center;
	padding: 3px 5px;
}
tr.prems{
	background-color:rgba(197,59,51,0.50);
}
tr.deux{
	background-color:rgba(221,166,55,0.50);
}
tr.trois{
	background-color:rgba(118,181,59,0.50);
}

tr.old{
	background-color:#96b4b7;
}

/* ranks */
.ranksTable
	{
	margin:20px auto 40px auto;
	}
	
.ranksTable tr
	{
	}

.ranksTable th
	{
	padding:5px 10px 5px 10px;
	font-size:14px;
	}

.ranksTable th a
	{
	color:white;
	}

.ranksTable td
	{
	padding:5px 10px 5px 10px;
	font-family:Courier;
	text-align:center;
	}
	
.ranksTable .paire
	{
	background-color:#08231d;
	}
	
.ranksTable .impaire
	{
	}
	
/* forum */
	
.forumTable
	{
	width:90%;
	margin:20px auto 40px auto;
	color:white;
	font-size:13px;
	}
	
		
.paire
	{
	background-color:#08231d;
	}
	
.impaire
	{
	background-color:#063329;
	}
	
.paireHard
	{
	background-color:#48231d;
	}
	
.impaireHard
	{
	background-color:#463329;
	}
.stateTable {
	border: 1px solid #08231d;
	border-spacing: 2px;
	/*border-style: outset;*/
	border-collapse: collapse;
	margin-top:20px;
	margin-bottom:20px;
	background-color:rgba(255,255,255,0.1);
	font-size:1.1em;
}

.stateTable th,.stateTable  tr,.stateTable  td {
	border: 1px solid #08231d;
	padding: 1px;
	/*border-style: inset;*/
	text-align:center;	
}

.stateTable .name_td
	{
	text-align:left;	
	margin-left:5px;
	}
.stateTable .margin-img{
	margin-left:15px;
}

.positiveVote
	{
	color:green;
	font-weight:bold;
	}
	
.negativeVote
	{
	color:red;
	font-weight:bold;
	}

.neutralVote
	{
	color:#4184a2;
	font-weight:bold;
	}
	
.scoreInSubject
	{
	margin-top:20px;
	margin-bottom:20px;
	}
	
.scoreInSubject .title
	{
	font-size:1.4em;
	}
	
.experimental
	{
	color:red;
	}
	
/* faq */
	
.faq_question, .faq_answer
	{
	margin-bottom:20px;
	}

.faq_question
	{
	color:#D09E3B;
	}
	
.faq_answer
	{
	}

	
/* admin */

.legendColorBox, .legendLabel
	{
	height:0px;
	vertical-align:top;
	padding:0px;
	border:none;
	}
	
.forumPicture
	{
	max-width:600px;
	max-height:500px;
	}
	
.tableLastPost
	{
	table-layout: fixed;
	width: 100%;
	word-break:break-all;
	}
	
.tableLastPost td
	{
	text-align:left;
	vertical-align: top;
	}

.news_side
	{
	float:right;
	width:17%;
	padding-left: 10px;
	padding-bottom: 20px;
	/*height: 500px;*/
	}
	
.news_side .sub_title
	{
	font-weight:bold;
	padding-bottom: 10px;
	padding-top: 10px;
	}

.news_side a
	{
	display:block;
	}

	
#contour_forum
	{
	overflow:hidden;
	padding-bottom:5px;
	margin-bottom:10px;
	background-color:#001a1a;
	}
	
#contour_forum .main_title,#contour_news .main_title
	{
	font-family: Pixel, Verdana,Geneva,sans-serif;
	color:white;
	font-size:140%;
	padding:10px;
	}
	
#contour_forum .element
	{
	background-color:#102a2a;
	border-radius:5px;
	overflow:hidden;
	padding:10px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	}

#contour_forum .element .sub_title
	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	}
	
#contour_forum .element .details
	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#757575;
	}
	
#contour_forum .element .text
	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.8em;
	/*color:#3e3d3d;*/
	color:white;
	}
	
.social
	{
	margin-bottom:10px;
	/*text-align: center;*/
	}
	
.social .facebook
	{
	/*background-color: LightGray;*/
	display:inline-block;
	height:250px;
	border: 1px solid gray;
	border-radius: 3px;
	vertical-align: top;
	}
	
.social .twitter
	{
	display:inline-block;
	margin-left:10px;
	vertical-align: top;
	}
	
.perso
	{
	/*bottom: 155px;*/
    left: -300px;
	
    position: absolute;
	}
	
.perso2
	{
	/*bottom: 155px;*/
    left: -200px;
    position: absolute;
	}
	
.headerImage
	{
	display: block;
	height: 379px;
	width: 989px;
	}

.padding{
padding:0 60px;
}	


.achivements
	{
	float:left;
	margin:5px;
	}
	
.achivements_picture
	{
	width:64px;
	height:64px;
	border:1px solid #063329;
	margin-right:5px;
	float:left;
	background-color: #08231d;
	}
	
.achivements_text
	{
	border:1px solid #063329;
	height:54px;
	width:350px;
	float:left;
	padding:5px;
	background-color: #08231d;
	}
	
.achivements_name
	{
	font-weight: bold;
	font-size:large;
	padding-bottom:5px;
	}
	
.achivements_description
	{
	}
	
.achivements_percent
	{
	float:right;
	height:54px;
	border:1px solid #063329;
	width:100px;
	text-align: center;
	}	
	
.achivements_percent_value
	{
	padding-top:20px;
	}		
.achivements_blackoverlay
	{
	opacity: .7;
    background-color: black;
    position: absolute;
    left: 0; top: 0; height: 64px; width: 64px;
	}

/*----------------------
form-login
--------------------*/
.form-login input[type="text"], .form-login input[type="password"]
{
	 border: 1px solid #DDDDDD;
    color: #666666;
    font-weight: bold;
    padding: 10px;
	margin-bottom:5px;
}

.form-login label {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 10px;
    padding-right: 3%;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}

.propose_pic{
	display:inline-block;
	margin-left:35px;
}
.propose_pic_img{
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	box-sizing: border-box ;
	/*width:133px;height:100px;*/
	border:3px solid white;
	border-radius:5px;
	display:inline-block;
}
.propose_pic_img2{
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	box-sizing: border-box ;
	/*width:133px;height:100px;*/
	border:3px solid white;
	border-radius:5px;
	display:inline-block;
}
.full_game_descr{
	display: inline-block;
    font-size: 14px;
    line-height: 1.8;
    margin-left: 20px;
    padding: 0;
    width: 50%;
}
.txt_descr-team{
	font-family: verdana;
    font-size: 14px;
    line-height: 150%;
    margin: 15px auto;
    width: 89%;
	text-align:justify;
}
/*----------------------------
screenshot
--------------*/
.screenshot_img{
	margin:20px;
	border:5px solid white;
	border-radius:5px;
	max-width:100%;
	height:auto;
	display:inline-block;
	text-align:center;
}
.screenshot_img2{
	max-width:100%;
	height:auto;
}

#black_mask
	{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:absolute;
	z-index:10000;
	}

/*
Tutorial
*/

	
#background
	{
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:fixed;
	z-index:100;
	}

/*
#information
	{
	background-color: #132f29;
	color: white;
	border: 1px solid white;
	width:300px;
	position:absolute;
	margin:5px auto 5px auto;
	padding:10px;
	}
*/
	
#alert
	{
	width:450px;
	background-color:#132f29;
	border:1px solid white;
	margin:auto;
	margin-top:200px;
	padding:25px;
	text-align:center;
	color:white;
	}
	
#alert .title
	{
	font-family:pixelfont;
	font-size:16pt;
	text-align:center;
	margin-bottom:10px;
	}
	
#alert .subtitle
	{
	text-align:center;
	margin-bottom:10px;
	}
	
#alert .content
	{
	text-align:center;
	margin-bottom:10px;
	}
	
#alert .button
	{
	text-align:center;
	padding:5px;
	background-color:#ac8332;
	color:white;
	border:none;
	width:150px;
	display:inline-block;
	margin-right:20px;
	margin-left:20px;
	}

#alert .ignioreBox
	{
	margin-left:200px;
	font-size:80%;
	margin-top:5px;
	}

.tutorial
	{
	width:250px;
	/*border:1px solid gray;*/
	border:1px solid rgba(0,0,0,0);
	padding:10px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	background-color:#08231D;
	}
	
.tutorial:hover
	{
	border:1px dotted gray;
	}

.tutorial .video-iframe
	{
	width:250px;
	height:200px;
	}
	
.tutorial .text
	{
	text-align:center;
	margin-top:10px;
	}
	
.tutorial .video
	{
	}
	

.sprite
	{
	width:18px;
	height:22px;
	display:inline-block;
	vertical-align: middle;
	}
	
.bignews
	{
	padding:20px;
	border-bottom:1px dashed gray;
	max-width:800px;
	margin:auto;
	}

.bignews .title
	{
	font-size:160%;
	}
	
.bignews .changelog
	{
	color:blue;
	}

.bignews .date
	{
	font-size:110%;
	margin-left:20px;
	}

.bignews .content
	{
	margin-top:20px;
	margin-left:20px;
	line-height:150%
	}
	
.instructionStyle
{
	border:4px solid #6b3c21;
	background-color:#927e55;
	width:400px;
	margin:20px auto 20px auto;
	padding:10px;
}
.adminMenu
	{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center ;
	}
	
.adminMenu li
	{
	margin-bottom: 20px;
	display: inline-block;
	}
	
.adminMenu li a
	{
	border: 1px solid #FFF ;
	padding: 4px 20px 4px 20px;
	/*line-height: 1em ;*/
	text-align: center ;
	text-decoration: none ;
	}
	
.adminMenu li .selected
	{
	background: #6C1E20;
	}
	
	
.adminMenu li a:hover, #navigation li a:focus, #navigation li a:active
	{
  background: #900 ;
  text-decoration: underline ;
	}
	
	

/*.inscrits{
	color:#d8ad29;
	background-color:rgba(4,18,18,0.7);
	padding:5px;
	position:absolute;
	
	right: 10px;
	top:31px;
	
	font-size:12pt;
	font-family:pixel, Verdana, Geneva, sans-serif;
	border-radius: 5px;
}

.currentversion{
	color:#d8ad29;
	background-color:rgba(4,18,18,0.7);
	padding:5px;
	position:absolute;
	
	right: 10px;
	top:5px;
	
	font-size:12pt;
	font-family:pixel, Verdana, Geneva, sans-serif;
	border-radius: 5px;
}

.indedb{
	position:absolute;
	right: 10px;
	top:62px;
}
*/
